# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
output_data_file = "../WeatherPy/output/city_weather_data.csv"
city_df = pd.read_csv(output_data_file)
city_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Tuktoyaktuk,69.4541,-133.0374,277.15,87,20,4.63,CA,1623505834
1,Barrow,71.2906,-156.7887,272.16,86,90,3.60,US,1623505834
2,Centralia,46.7162,-122.9543,285.63,87,90,0.00,US,1623505834
3,Poum,-20.2333,164.0167,297.14,81,100,10.59,NC,1623505835
4,Cape Town,-33.9258,18.4232,294.88,54,0,0.89,ZA,1623505834

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key=g_key)

In [11]:
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [45]:
  # A max temperature lower than 275 degrees but higher than 250.
  # Wind speed less than 10 mph.
  # Zero cloudiness.
  # Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.


reduced_df = city_df.loc[(city_df["Max Temp"] > 250) & (city_df["Max Temp"] < 275) & (city_df["Wind Speed"] < 10), :]
reduced_df = reduced_df.dropna(how='any')
reduced_df.reset_index(inplace=True)
del reduced_df['index']

print(len(reduced_df.index))
reduced_df

6

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Barrow,71.2906,-156.7887,272.16,86,90,3.60,US,1623505834
1,Pangnirtung,66.1451,-65.7125,274.93,98,67,1.12,CA,1623505882
2,Leningradskiy,69.3833,178.4167,273.51,93,90,1.46,RU,1623505892
3,Dikson,73.5069,80.5464,273.33,89,65,1.78,RU,1623505897
4,Talnakh,69.4865,88.3972,274.42,99,100,3.16,RU,1623505915
5,Pevek,69.7008,170.3133,271.70,93,21,1.51,RU,1623505957

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [52]:
hotel_df = reduced_df
hotel_df['Hotel Name'] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Barrow,71.2906,-156.7887,272.16,86,90,3.60,US,1623505834,
1,Pangnirtung,66.1451,-65.7125,274.93,98,67,1.12,CA,1623505882,
2,Leningradskiy,69.3833,178.4167,273.51,93,90,1.46,RU,1623505892,
3,Dikson,73.5069,80.5464,273.33,89,65,1.78,RU,1623505897,
4,Talnakh,69.4865,88.3972,274.42,99,100,3.16,RU,1623505915,
5,Pevek,69.7008,170.3133,271.70,93,21,1.51,RU,1623505957,

In [53]:
for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        params = {
        "keyword": "hotel",
        "radius": 5000,
        "key": g_key,
        }


        lat = row['Lat']
        lng = row['Lng']

        params['location'] = f"{lat}, {lng}"

        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except IndexError:
        
        hotel_df.loc[index, "Hotel Name"] = "NaN"
        
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Barrow,71.2906,-156.7887,272.16,86,90,3.60,US,1623505834,Top of the World Hotel
1,Pangnirtung,66.1451,-65.7125,274.93,98,67,1.12,CA,1623505882,Auyuittuq Lodge (Inns North)
2,Leningradskiy,69.3833,178.4167,273.51,93,90,1.46,RU,1623505892,NaN
3,Dikson,73.5069,80.5464,273.33,89,65,1.78,RU,1623505897,NaN
4,Talnakh,69.4865,88.3972,274.42,99,100,3.16,RU,1623505915,NaN
5,Pevek,69.7008,170.3133,271.70,93,21,1.51,RU,1623505957,Munitsipal'naya Gostinitsa

In [54]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [55]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))